.add_blog {
  max-width: 600px;
  margin: 0 auto;
}

.add_blog h1 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

input,
textarea,
select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
